/*--------------
      RESET
--------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------
      TEXT
--------------*/

body {
    font-family: 'Odibee Sans', cursive;
    color: #57cc99;
    background-color: #0b090a;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.textDone {
    text-decoration: line-through;
}

h3 {
    padding-top: 50px;
    font-size: 35px;
    text-align: center;
}

/*--------------
    COMMONS
--------------*/

.container {
    padding-top: 60px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.listToDos {
    margin-top: 50px;
    width: 100%;
}

.new-Todo {
    display: flex;
    justify-content: center;
    padding: 20px;
}

input,
button {
    font-size: 30px;
    padding: 5px 15px;
    box-shadow: 2px 2px 6px #57cc99;
    color: #57cc99;
}

ul li {
    font-size: 60px;
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 10px;
    border: 2px solid ##57cc99;
    margin-left: 10px;
    background-color: white;
    color: #57cc99;

}